.product-detail .left {
  margin-right: 15px;
  font-size: 20px;
  font-weight: bold;
}
.product-detail .product-img {
  width: 150px;
  height: 150px;
  border: 1px solid #ddd;
  margin-right: 10px;
  border-radius: 5px;
}
