.left-nav .left-nav-header {
  display: flex;
  align-items: center;
  background: #002140;
  height: 80px;
}
.left-nav .left-nav-header img {
  margin: 0 10px;
  width: 50px;
  height: 50px;
}
.left-nav .left-nav-header h1 {
  margin-bottom: 0;
  color: white;
  font-size: 20px;
}
